.qrCodeWindow {
	display:block;
  margin:0 auto;
  height: 25%;
  width: 25%;
}

.myResults {
	text-align: center;
}

#confirmationLayout {
	display: none;
	text-align: center;
}

#inputRefundPercentage {
	margin:0 auto;
	width: 25%;
}

#verifyLayout {
	display: none;
	text-align: center;
	margin:0 auto;
}

#inputAlert {
	display: none;
	text-align: center;
	margin:0 auto;
}

#confirmationAlert {
	display: none;
	text-align: center;
	margin:0 auto;
}

#cancelAlert {
	display: none;
	text-align: center;
	margin:0 auto;
}

#tryAgainButton {
	display: none;
	text-align: center;
	margin:0 auto;
}

#okButton {
	display: none;
	text-align: center;
	margin:0 auto;
}